.app-container {
    width: 100%;
    background: #0d1117;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}